<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" 
id="cordova-android-plugin-barcodescanner"
    version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Cordova Android Plugin Barcodescanner</name>
    <description>Cordova Android Plugin Barcodescanner
    </description>
    <author>SteveLee</author>
    <license>MIT</license>
    <keywords>cordova, cordova plugin, cordova barcode, cordova android
    </keywords>
    <repo>https://github.com/steveleetn91/cordova-android-plugin-barcodescanner.git</repo>
    <issue>https://github.com/steveleetn91/cordova-android-plugin-barcodescanner/issues</issue>

    <engines>
        <engine name="cordova" version=">=4.0" />
    </engines>
    <js-module name="barcodescanner" src="www/index.js">
        <clobbers target="barcodescanner" />
        <clobbers target="plugins.barcodescanner" />
    </js-module>
    <platform name="android">
        <framework src="build-extras.gradle" custom="true" type="gradleReference" />
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaBarcode">
                <param name="android-package" value="org.apache.cordova.CordovaBarcode" />
            </feature>
        </config-file>
        <source-file src="native/android/CordovaBarcode.java" target-dir="org/apache/cordova" />
        <source-file src="native/android/CordovaEventBuilder.java" target-dir="org/apache/cordova" />
    </platform>
    
</plugin>